@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  font-family: "Montserrat";
  height: 50px;
  border-bottom: black solid 2px;
  background-color: rgb(173, 188, 255);
  justify-content: space-between;
  align-items: center;
}

header {
  font-size: 25px;
  margin-left: 10px;
}

#post-button {
  background-color: transparent;
  border: none;
  font-family: "Montserrat";
  font-size: 20px;
  margin-right: 10px;
}
#post-button:hover {
  color: white;
  font-weight: bold;
}

.main-container {
  position: relative;
  height: calc(100vh - 50px);
  width: 100%;
}

form {
  background-color: rgb(173, 188, 255);
  font-family: "Montserrat";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  border: black solid 2px;
  padding: 20px;
  z-index: 1;
}

#close-button {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: transparent;
  border: none;
}

#close-button:hover {
  color: white;
}
#search-input {
  background-color: none;
  border-radius: 5px;
  height: 3.5vh;
  width: 10vh;
}

#search-input:focus {
  width: 35vh;
}
input {
  font-family: "Montserrat";
  background-color: rgb(193, 204, 255);
  border: none;
  transition: all 0.3s;
}

.text-input {
  margin-bottom: 10px;
  border-bottom: black solid 1px;
  border-radius: 5px;
  padding: 3px;
}

.submit-input {
  margin-top: 5px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
}

input:hover {
  border-color: white;
}

#map {
  position: absolute;
  height: calc(100vh - 50px);
  width: 100%;
  z-index: 0;
}

.hide {
  visibility: hidden;
}
