@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    font-family: "Montserrat";
    height: 50px;
    align-items: center;
    border-bottom: black solid 1px;
}

header {
    font-size: 25px;
    margin-left: 10px;
}

.main-container {
    position: relative;
    height: calc(100vh - 50px);
    width: 100%;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    border: black solid 1px;
    background-color: white;
    padding: 20px;
    z-index: 1;
}

#map {
    position: absolute;
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 0;
}
